/* CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  CUSTOM CSS
*/

* {
  box-sizing: border-box;
}

body,
html,
select {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Helvetica";
}

body {
  height: 100%;
  
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 800px;
  margin: auto;
  text-align: center;
  color: #005C45;
  font-size: 1.5rem;
  background: #F0F0F0;
}

main {
  width: 800px;
  background: #F0F0F0;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-bar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.menu-button, .panel-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  height: 3rem;
  color: #ffffff;
  background: #005C45;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  flex: 1;
}

.menu-button:hover, .panel-button:hover {
  background: #006e52;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.panel label, #display-intervention-points {
  color: #005C45;
  margin: 0;
  font-size: 1.25rem;
}

#display-intervention-points {
  text-align: left;
  display: inline-block;
  flex-grow: 1;
}

.panel #input-question,
.panel #input-likelihood {
  flex-grow: 1;
  border: 1px solid #005C45;
  background: #ffffff;
  color: #005C45;
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.writing {
  height: 100%;
}

.hidden {
  display: none;
}

.input-likelihood-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 800px) {

  main, header {
    width: 100%;
  }

  .menu-button, .panel-button {
    height: 2rem;
  }

}